@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pl {
  padding-left: 15px;
  @media (max-width: 768px) {
    padding-left: 10px;
  }
  @media (max-width: 425px) {
    // padding-left: 5px;
  }
}

@mixin pr {
  padding-right: 15px;
  @media (max-width: 768px) {
    padding-right: 10px;
  }
  @media (max-width: 425px) {
    // padding-right: 5px;
  }
}

@mixin py {
  padding-top: 15px;
  padding-bottom: 15px;
  @media (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (max-width: 425px) {
    // padding-top: 5px;
    // padding-bottom: 5px;
  }
}

@mixin px {
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 425px) {
    // padding-left: 5px;
    // padding-right: 5px;
  }
}

@mixin DefaultWrap {
  @include flex(column, center, center);
}

@mixin DefaultInnerWrap {
  max-width: 1080px;
  width: 100%;
}

@mixin ipad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin ipadL {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}
