@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #212121;
}

.headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 500;
  border-top: 5px solid #212121;
  border-bottom: 5px solid #212121;
  margin-top: 10px;
}

@media (max-width: 425px) {
  .headerWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
}

.headerWrap .logo {
  max-height: 150px;
}

@media (max-width: 425px) {
  .headerWrap .logo {
    max-height: 50px;
  }
}

.headerWrap div {
  text-align: left;
}

.MainWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainInnerWrap {
  width: 100%;
  max-width: 1200px;
}

.PacksWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media (max-width: 425px) {
  .PacksWrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}

.PacksWrap .thumb {
  min-height: 250px;
  max-height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PacksWrap .thumb img {
  width: 70%;
}

@media (max-width: 425px) {
  .PacksWrap .thumb img {
    width: 80%;
  }
}

.PacksWrap .defaults {
  border-left: 5px solid #212121;
  padding-left: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

@media (max-width: 425px) {
  .PacksWrap .defaults {
    margin-top: 10px;
  }
}

.PacksWrap .defaults .names .origin {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.PacksWrap .defaults .names .en {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 2px;
}

.PacksWrap .defaults .priceWrap .price {
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .PacksWrap .defaults .priceWrap .price {
    text-align: right;
    font-size: 32px;
  }
}

.PacksWrap .defaults .priceWrap .price .unit {
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */